src/services/xsd/consumption_order.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- consumption_order XSD -->

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="HeaderType"/>
        <xs:element name="body" type="ConsumptionOrderBodyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="message_id" type="UuidV4"/>
      <xs:element name="version" type="xs:string" fixed="2.0"/>
      <xs:element name="type" type="xs:string" fixed="consumption_order"/>
      <xs:element name="timestamp" type="xs:dateTime"/>
      <xs:element name="source" type="xs:string"/>
      <xs:element name="correlation_id" type="UuidV4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsumptionOrderBodyType">
    <xs:sequence>
      <xs:element name="customer" type="CustomerType"/>
      <xs:element name="payment_method" type="PaymentMethodType"/>
      <xs:element name="items" type="ItemsType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="is_company_linked" type="xs:boolean"/>
      <xs:element name="company_id" type="xs:string" minOccurs="0"/>
      <xs:element name="company_name" type="xs:string" minOccurs="0"/>
      <xs:element name="company_id" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="address" type="AddressType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="street" type="xs:string"/>
      <xs:element name="number" type="xs:string"/>
      <xs:element name="postal_code" type="xs:string"/>
      <xs:element name="city" type="xs:string"/>
      <xs:element name="country" type="CountryCodeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemsType">
    <xs:sequence>
      <xs:element name="item" type="ItemType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="quantity" type="xs:positiveInteger"/>
      <xs:element name="unit_price" type="AmountType"/>
      <xs:element name="vat_rate" type="VatRateType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="CurrencyCodeType" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="UuidV4">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CountryCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z]{2}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CurrencyCodeType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-z]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="VatRateType">
    <xs:restriction base="xs:integer">
      <xs:enumeration value="6"/>
      <xs:enumeration value="12"/>
      <xs:enumeration value="21"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PaymentMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="company_link"/>
      <xs:enumeration value="on_site"/>
      <xs:enumeration value="online"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>