src/services/xsd/invoice_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="street"      type="xs:string"/>
      <xs:element name="number"      type="xs:string"/>
      <xs:element name="postal_code" type="xs:string"/>
      <xs:element name="city"        type="xs:string"/>
      <xs:element name="country"     type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InvoiceDataType">
    <xs:sequence>
      <!-- ⚠️ Gedocumenteerde uitzondering: geen <contact> wrapper hier -->
      <xs:element name="first_name"   type="xs:string"/>
      <xs:element name="last_name"    type="xs:string"/>
      <xs:element name="email"        type="xs:string"/>
      <xs:element name="address"      type="AddressType"/>
      <xs:element name="company_name" type="xs:string" minOccurs="0"/>
      <xs:element name="vat_number"   type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="xs:string"/>
              <xs:element name="type"           type="xs:string" fixed="invoice_request"/>
              <xs:element name="source"         type="xs:string" fixed="crm"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="version"        type="xs:string" fixed="2.0"/>
              <!-- correlation_id = message_id van de bijhorende consumption_order (zie 11.3) -->
              <xs:element name="correlation_id" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="user_id"      type="xs:string"/>
              <xs:element name="invoice_data" type="InvoiceDataType"/>
              <!-- GEEN <items> of <total> — Facturatie haalt die uit de consumption_order -->
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>