src/services/xsd/invoice_link.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Stuurt factuurlink door naar frontend. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id" type="xs:string"/>
              <xs:element name="version" type="xs:string" fixed="2.0"/>
              <xs:element name="type" type="xs:string"/>
              <xs:element name="timestamp" type="xs:dateTime"/>
              <xs:element name="source" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="invoice_id" type="xs:integer"/>
              <xs:element name="pdf_url" type="xs:anyURI"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
