src/services/xsd/invoice_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="HeaderType"/>
        <xs:element name="body" type="InvoiceRequestBodyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="message_id" type="xs:string"/>
      <xs:element name="master_uuid" type="xs:string"/>
      <xs:element name="version" type="xs:string"/>
      <xs:element name="type" type="xs:string" fixed="invoice_request"/>
      <xs:element name="timestamp" type="xs:dateTime"/>
      <xs:element name="source" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InvoiceRequestBodyType">
    <xs:sequence>
      <xs:element name="customer" type="CustomerType"/>
      <xs:element name="invoice" type="InvoiceSummaryType"/>
      <xs:element name="items">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="item" type="ItemType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="customer_id" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="first_name" type="xs:string"/>
      <xs:element name="last_name" type="xs:string"/>
      <xs:element name="is_company_linked" type="xs:boolean"/>
      <xs:element name="company_id" type="xs:string" minOccurs="0"/>
      <xs:element name="company_name" type="xs:string" minOccurs="0"/>
      <xs:element name="address">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="number" type="xs:string"/>
            <xs:element name="postal_code" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InvoiceSummaryType">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="amount" type="AmountType"/>
      <xs:element name="due_date" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ItemType">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="quantity" type="xs:integer"/>
      <xs:element name="unit_price" type="AmountType"/>
      <xs:element name="vat_rate">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:enumeration value="6"/>
            <xs:enumeration value="12"/>
            <xs:enumeration value="21"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>

