src/services/xsd/new_registration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <!-- Ontvangen van nieuwe registratie -->

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="HeaderType"/>
        <xs:element name="body" type="NewRegistrationBodyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="message_id" type="xs:string"/>
      <xs:element name="version" type="xs:string" fixed="2.0"/>
      <xs:element name="type" type="xs:string" fixed="new_registration"/>
      <xs:element name="timestamp" type="xs:dateTime"/>
      <xs:element name="source" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NewRegistrationBodyType">
    <xs:sequence>
      <xs:element name="customer" type="CustomerType"/>
      <xs:element name="registration_fee" type="FeeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CustomerType">
    <xs:sequence>
      <xs:element name="customer_id" type="xs:string" minOccurs="0"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="contact">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="first_name" type="xs:string"/>
            <xs:element name="last_name" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="is_company_linked" type="xs:boolean"/>
      <xs:element name="company_id" type="xs:string" minOccurs="0"/>
      <xs:element name="company_name" type="xs:string" minOccurs="0"/>
      <xs:element name="vat_number" type="xs:string" minOccurs="0"/>
      <xs:element name="payment_due" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="amount">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:decimal">
                    <xs:attribute name="currency" use="required">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="eur"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:attribute>
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="status">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="unpaid"/>
                  <xs:enumeration value="paid"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="address">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="street" type="xs:string"/>
            <xs:element name="number" type="xs:string"/>
            <xs:element name="postal_code" type="xs:string"/>
            <xs:element name="city" type="xs:string"/>
            <xs:element name="country" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FeeType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
