src/services/xsd/payement_registered_outgoing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="message">
    <xs:complexType><xs:sequence>
      <xs:element name="header">
        <xs:complexType><xs:sequence>
          <xs:element name="message_id" type="xs:string"/>
          <xs:element name="timestamp"  type="xs:dateTime"/>
          <xs:element name="source"><xs:simpleType><xs:restriction base="xs:string">
            <xs:enumeration value="facturatie"/></xs:restriction></xs:simpleType></xs:element>
          <xs:element name="type"><xs:simpleType><xs:restriction base="xs:string">
            <xs:enumeration value="payment_registered"/></xs:restriction></xs:simpleType></xs:element>
          <xs:element name="version"><xs:simpleType><xs:restriction base="xs:string">
            <xs:enumeration value="2.0"/></xs:restriction></xs:simpleType></xs:element>
        </xs:sequence></xs:complexType>
      </xs:element>
      <xs:element name="body">
        <xs:complexType><xs:sequence>
          <xs:element name="invoice_id"  type="xs:string"/>
          <xs:element name="customer_id" type="xs:string"/>
          <xs:element name="amount_paid">
            <xs:complexType><xs:simpleContent><xs:extension base="xs:decimal">
              <xs:attribute name="currency" use="required">
                <xs:simpleType><xs:restriction base="xs:string">
                  <xs:enumeration value="eur"/></xs:restriction></xs:simpleType>
              </xs:attribute>
            </xs:extension></xs:simpleContent></xs:complexType>
          </xs:element>
          <xs:element name="payment_method">
            <xs:simpleType><xs:restriction base="xs:string">
              <xs:enumeration value="cash"/>
              <xs:enumeration value="card"/>
              <xs:enumeration value="bank_transfer"/>
            </xs:restriction></xs:simpleType>
          </xs:element>
          <xs:element name="paid_at" type="xs:dateTime"/>
        </xs:sequence></xs:complexType>
      </xs:element>
    </xs:sequence></xs:complexType>
  </xs:element>
</xs:schema>
