src/services/xsd/payment_registered.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="HeaderType"/>
        <xs:element name="body" type="PaymentRegisteredBodyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="message_id" type="xs:string"/>
      <xs:element name="version" type="xs:string"/>
      <xs:element name="type" type="xs:string" fixed="payment_registered"/>
      <xs:element name="timestamp" type="xs:dateTime"/>
      <xs:element name="source" type="xs:string"/>
      <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentRegisteredBodyType">
    <xs:sequence>
      <xs:element name="invoice" type="InvoiceType"/>
      <xs:element name="transaction" type="TransactionType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="InvoiceType">
    <xs:sequence>
      <xs:element name="invoice_number" type="xs:string"/>
      <xs:element name="status" type="xs:string"/>
      <xs:element name="amount_paid" type="AmountType"/>
      <xs:element name="due_date" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TransactionType">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="payment_method" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AmountType">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="currency" type="xs:string" default="eur"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

</xs:schema>
