src/services/xsd/send_mailing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  TYPE   : send_mailing
  FLOW   : Facturatie → Mailing  (queue: crm.to.mailing)
  VERSIE : 2.0
  Mailing gebruikt hetzelfde schema voor CRM én Facturatie — source onderscheidt de afzender.
  Conform contract sectie 13.1
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="header" type="HeaderType"/>
        <xs:element name="body"   type="SendMailingBodyType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HeaderType">
    <xs:sequence>
      <xs:element name="message_id"    type="xs:string"/>
      <xs:element name="timestamp"     type="xs:dateTime"/>
      <xs:element name="source">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="facturatie"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="send_mailing"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="version">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2.0"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <!-- correlation_id: verplicht — koppelt terug aan het originele bericht dat de mailing triggerde -->
      <xs:element name="correlation_id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SendMailingBodyType">
    <xs:sequence>
      <xs:element name="campaign_id"  type="xs:string"/>
      <xs:element name="subject"      type="xs:string"/>
      <xs:element name="template_id"  type="xs:string"/>
      <xs:element name="mail_type">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="registration_confirmation"/>
            <xs:enumeration value="payment_confirmation"/>
            <xs:enumeration value="invoice_ready"/>
            <xs:enumeration value="session_update"/>
            <xs:enumeration value="general_announcement"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="recipients">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="recipient" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="email"       type="xs:string"/>
                  <xs:element name="customer_id" type="xs:string"/>
                  <xs:element name="contact">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="first_name" type="xs:string"/>
                        <xs:element name="last_name"  type="xs:string"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <!-- template_data: JSON string met variabelen voor de mail template (invoice_id, amount, etc.) -->
      <xs:element name="template_data" type="xs:string" minOccurs="0"/>
      <!-- body_html: plain HTML — wanneer geen template gebruikt wordt -->
      <xs:element name="body_html"     type="xs:string" minOccurs="0"/>
      <!-- attachment: optionele Base64 bijlage (factuur-PDF) -->
      <xs:element name="attachment" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="filename"     type="xs:string"/>
            <xs:element name="content_type" type="xs:string"/>
            <xs:element name="base64_data"  type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
